/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
  Elmo 2011-10-11 最後修正
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*font: inherit;*/
	vertical-align: baseline;
	background: transparent;}
	
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block}

body { line-height: 1}
ol, ul { list-style: none}
blockquote, q {	quotes: none}
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none;}

/* remember to define focus styles! 移除連結虛線 */
:focus {outline: none}
/*::-moz-focus-inner { border: none}*/

/* remember to highlight inserts somehow! */
ins { text-decoration: none}
del {text-decoration: line-through}

/*tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
	text-align: center;
}


/* advbox */
.advbox{position:absolute;top:expression(eval(document.documentElement.scrollTop));}
.advbox{width:500px;position:fixed;left:50%;top:0;z-index: 99999; background:#fff; margin-left:-250px;
background-clip: padding-box;border:6px solid rgba(255, 255, 255, 0.7);
-moz-box-shadow:2px 2px 1px #969696;
-webkit-box-shadow:2px 2px 1px #969696;
box-shadow:0px 0px 3px #969696;}
.advbox .advpic{position:relative;overflow:hidden; float:left;}
.advbox .advpic .closebtn{display:block;width:14px;height:22px;line-height:22px;font-size:14px; font-weight:bold;color:#fff;overflow:hidden;position:absolute;
right:15px;top:10px;z-index:99; text-align:center;}
.it_1{ background:#f07b18; color:#fff; text-align:center; font-size:1.5em; font-weight:bold; padding:15px 0;}
.it_1 a{ color:#FFF;}
.it_2{ padding:15px;position:relative;}
